In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.ensemble import RandomForestClassifier
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
train_data = pd.read_csv('/kaggle/input/titanic/train.csv')

In [3]:
print("Training Data:")
train_data.head()

Training Data:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [6]:
men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

In [7]:
men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

In [8]:
# Count total males
total_males = len(train_data[train_data['Sex'] == 'male'])

# Count surviving males
surviving_males = train_data[(train_data['Sex'] == 'male') & (train_data['Survived'] == 1)].shape[0]

# Calculate probability
male_survival_probability = surviving_males / total_males

# Print the results
print(f"Total male passengers: {total_males}")
print(f"Number of males who survived: {surviving_males}")
print(f"Male survival probability: {male_survival_probability:.2%}")  # Formats as percentage with 2 decimal places

Total male passengers: 577
Number of males who survived: 109
Male survival probability: 18.89%

In [9]:
import pandas as pd
# Load and prepare data
train_data = pd.read_csv('/kaggle/input/titanic/train.csv')
males = train_data.loc[train_data['Sex'] == 'male'].copy()

# Fill missing ages
males['Age'] = males['Age'].fillna(males['Age'].median())

# Create age groups
bins = [0, 12, 18, 30, 50, 100]
labels = ['Child (<12)', 'Teen (12-18)', 'Young Adult (18-30)', 'Adult (30-50)', 'Senior (50+)']
males['AgeGroup'] = pd.cut(males['Age'], bins=bins, labels=labels)

# Analysis (now warning-free)
for group in labels:
    group_data = males[males['AgeGroup'] == group]
    total = len(group_data)
    survived = sum(group_data['Survived'])
    print(f"{group}: {survived}/{total} ({survived/total:.2%})")

Child (<12): 21/37 (56.76%)
Teen (12-18): 3/34 (8.82%)
Young Adult (18-30): 44/304 (14.47%)
Adult (30-50): 35/155 (22.58%)
Senior (50+): 6/47 (12.77%)

In [10]:
# Step 1: Choose features and target
features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])   # Convert categorical data to numbers
y = train_data["Survived"]

X_test = pd.get_dummies(test_data[features])

# Step 2: Create and train the model
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)

# Step 3: Make predictions
predictions = model.predict(X_test)

# Step 4: Save predictions in correct format for submission
output = pd.DataFrame({
    "PassengerId": test_data["PassengerId"],
    "Survived": predictions
})
output.to_csv("submission.csv", index=False)

print("Your submission was successfully saved!")

Your submission was successfully saved!